extends ./layout/layout.pug

block variables
    - var title = 'Components'

block main

        section#breadcrumbs
            .container
                include  ./partials/breadcrumbs

        section.border-top#catagory-top
            .spacer.pt-5
            .container
                h2 Headline h2
                h5 Headline h5
                .small.line-h-150
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare sed massa est orci bibendum magnis sagittis eget. Euismod ac ultrices vestibulum in sed volutpat ut. Fusce aenean eget condimentum bibendum faucibus sit. Purus varius velit massa diam. Tristique diam sed nunc nibh turpis id aliquet. Diam amet pretium urna, ante tristique. Odio varius interdum iaculis etiam mauris, velit amet elit.

        section
            .spacer.pt-5
            .container
                .row.no-gutters
                    - var $i = 0
                    while $i < 14
                        .col-md-6.col-lg-4
                            a(href="#!").d-flex.justify-content-between.align-items-center.text-micro.text-900.border.rounded-lg.pr-2.m-1
                                span.d-inline-flex.align-items-center.m-1
                                    +placeholder(40, 40, "mr-2")
                                    | Category item #{$i}
                                +sprite("chevron-right", "sx-16 ml-4")
                        -$i++

        section
            .spacer.pt-5
            .container
                p
                    button.btn.btn-lg.btn-primary.text-uppercase Large
                    button.btn.btn-primary Normal
                    button.btn.btn-sm.btn-primary Small
                div
                    button.btn.btn-sm.btn-black Nejprodávanější
                    button.btn.btn-sm.hover-primary Doprava zdarma
                    button.btn.btn-sm.hover-primary Novinky
            .spacer.pt-5

        section.bg-gradient-primary.h6.line-h-120.mb-0.pt-4.font-weight-normal.text-white#bar-1
            .container
                .row
                    .col-md-4.mb-4
                        .d-flex.align-items-center
                            span.d-flex.justify-content-center.align-items-center.flex-shrink-0.border.border-white-alpha-25.sx-56.rounded.mr-4
                                +sprite("thumb-up", "sx-32")
                            | Prodloužená záruka při montáži od nás
                    .col-md-4.mb-4
                        .d-flex.align-items-center
                            span.d-flex.justify-content-center.align-items-center.flex-shrink-0.border.border-white-alpha-25.sx-56.rounded.mr-4
                                +sprite("chat-alt", "sx-32")
                            | Nevíte si rady? Využijte náš zákaznický servis
                    .col-md-4.mb-4
                        .d-flex.align-items-center
                            span.d-flex.justify-content-center.align-items-center.flex-shrink-0.border.border-white-alpha-25.sx-56.rounded.mr-4
                                +sprite("cog", "sx-32")
                            | V případě zájmu zajistíme<br>odbornou montáž

        section.bg-linear-down-light#category-list
            .spacer.py-5
            .container
                h2.h4.text-uppercase Category list
                .row.no-gutters
                    - $category = ['Pohony bran<br>a&nbsp; vrat', 'Automatické<br>závory', 'Dálkové ovládání', 'Přístupové systémy', 'Příslušenství pohonů', 'Náhradní díly', 'Kování pro brány, vrata', 'Konstrukce pro brány']
                    each $name, $key in $category
                        .col-md-4.col-lg-3.mb-4.mb-md-5
                            .card.m-1
                                .card-header.d-flex.justify-content-between.align-items-center.bg-gradient-primary.min-h-lg-96
                                    h3.h6.mb-0.text-uppercase.line-h-120.text-white !{$name}
                                    +sprite("cube", "text-white sx-32 ml-4")
                                .card-body.bg-white.py-3.px-4
                                    ul.nav.small
                                        - var $i = 0
                                        while $i < 4
                                            li.w-100
                                                if $i < 3
                                                    a(href="#!").d-flex.justify-content-between.align-items-center.text-dark.py-2 Category item #{$i}
                                                        +sprite("chevron-right", "sx-8 ml-4")
                                                else 
                                                    a(href="#!").d-flex.justify-content-between.align-items-center.py-2.text-primary.text-uppercase.font-weight-bold All in category
                                                        +sprite("chevron-right", "sx-8 ml-4")
                                            -$i++

            .spacer.py-5

        .spacer.pt-5.border-top

        section#spacers
            .container
                h2.h4 Spacers
                button.btn.btn-primary.mb-5(data-toggle="collapse", data-target="#collapseSpacers") Show spacers
                #collapseSpacers.collapse
                    .row
                        .col-6
                            - var n = 0
                            while n <= 10
                                .border(class= "p-" + n) .p-#{n}
                                -n++
                        .col-6
                            - var n = 0
                            while n <= 10
                                .border(class= "pt-" + n) .pt-#{n}
                                -n++

        .spacer.pt-5.border-top

        section#stylesheet

            .container
                h1 Headline 1<br>The quick brown fox jumps over a lazy dog

                h2 Headline 2<br>The quick brown fox jumps over a lazy dog

                h3 Headline 3<br>The quick brown fox jumps over a lazy dog

                h4 Headline 4<br>The quick brown fox jumps over a lazy dog

                h5 Headline 5<br>The quick brown fox jumps over a lazy dog

                h6 Headline 6<br>The quick brown fox jumps over a lazy dog

                p.font-weight-rebular Body Text Normal<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis bibendum sit lacus sagittis. Donec faucibus pharetra lobortis eu sagittis, pellentesque congue sagittis. Sed fames a ullamcorper eleifend ut adipiscing eget. neque eget ac. Dolor sit amet, consectetur adipiscing elit. Vel curabitur vehicula vel condimentum vel tortor. 
                p.font-weight-bold Body Text Bold<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis bibendum sit lacus sagittis. Donec faucibus pharetra lobortis eu sagittis, pellentesque congue sagittis. Sed fames a ullamcorper eleifend ut adipiscing eget. neque eget ac. Dolor sit amet, consectetur adipiscing elit. Vel curabitur vehicula vel condimentum vel tortor. 

        .spacer.pt-7


        section
            .container
                h2.mb-4.text-muted Box list

        section
            .container
                .box-list.com.--type-1
                    .row
                        each val, index in ['Title', 'Title']
                            .col-md-6
                                a(href="#!").item.shadow-primary
                                    .cell
                                        h4.font-weight-light.title= val
                                        span.btn-circle.sx-40.shadow-secondary
                                            +sprite('arrow-narrow-right', 'sx-16')
                                    .cell
                                        +placeholder(120, 200)
                                    .overlay

        .spacer.pt-8

        section
            .container
                h2.mb-4.text-muted Numbers

        section
            .container
                include partials/numbers

        .spacer.pt-8

        section
            .container
                h2.mb-4.text-muted Quote-list-box

        section
            .container
                .quote-list-box.com
                    .item.shadow-secondary
                        .top
                            p <span class="text-primary font-weight-bold">"</span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque tincidunt scelerisque libero. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.
                        .bottom
                            +placeholder(80, 80)
                            .in
                                p
                                    strong John Doe
                                    br
                                    small Quality manager, Company s.r.o.


        .spacer.pt-8

        section
            .container
                include partials/logo-partners

        .spacer.pt-7

        section
            .container
                h3 Aktuality

        .spacer.pt-4

        section
            .container
                .row.justify-content-center
                    .col-12.col-sm-6.col-lg-4.mb-4
                        +news-box("Title na řádek")
                    .col-12.col-sm-6.col-lg-4.mb-4
                        +news-box("O moc delší title, který je na více řádků")
                    .col-12.col-sm-6.col-lg-4.mb-4
                        +news-box()
                .text-center.my-4
                    a(href="aktuality.html").btn.btn-primary Více aktualit

        .spacer.pt-7